html * {
    font-family: 'Raleway', sans-serif; !important;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.bgimg_student {
    height: 80vh;
    padding: 2%;
    background-size: cover;
    background-image: url('./student_red.jpg');
    margin-bottom: 5%;

}

.bgimg_resident {
    height: 80vh;
    padding: 2%;
    background-size: cover;
    background-image: url('./resident_emo.jpg');
    margin-bottom: 5%;

}

.front_resident {
    color:white;

}

.front_resident:hover {
    color: #d3d3d3;
}

.front_student {
    color:black;
}

.front_student:hover {
    color:#3b3b3b;
}

.welcome {
    margin-bottom:5%;
    background-color: #F8F8F8;
}

@media (min-width: 576px) {

    .container-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
